.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card-item {
  margin: 10px; /* Add margin to cards for spacing */
}

.pagination-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .grid-container {
    padding: 10px; /* Add padding to the grid container for mobile view */
  }

  .card-item {
    margin: 10px; /* Adjust card margin for mobile view */
  }

  .pagination-container {
    padding: 10px; /* Adjust pagination container padding for mobile view */
  }
}
